@media (max-width: 1441px) {
  /* INDEX page სტილები */
  header {
    height: 98px;
    padding: 0 60px;
  }
  .header_logo {
    width: 165px;
    height: 50px;
  }

  .nav_div {
    padding: 18px 30px;
  }

  .header_nav_ul {
    column-gap: 16px;
  }

  .header_nav_a {
    font-size: 14px;
  }
  .header_nav_a.active {
    padding: 12px 20px;
  }

  .main_sec img {
    width: 300px;
    height: 300px;
  }

  .text_div {
    top: 75%;
  }
  .text_div_child h1 {
    font-size: 48px;
  }

  .text_div_child p {
    font-size: 14px;
  }
  .text_div button {
    font-size: 14px;
  }

  /* section 2 styles  */
  .sec2 {
    margin-top: 200px;
  }
  .sec2_headers {
    margin-bottom: 60px;
  }
  .sec2_headers h2 {
    font-size: 28px;
  }
  .sec2_headers p {
    font-size: 16px;
  }
  .sec2_cards {
    gap: 20px;
  }
  .card {
    padding: 40px;
    gap: 24px;
  }
  .sec2_card_cont h3 {
    font-size: 20px;
  }
  .card p {
    font-size: 16px;
  }
  /* section 3 styles */
  .sec3_headers_button {
    gap: 80px;
    margin-bottom: 60px;
  }
  .sec3_headers {
    row-gap: 14px;
  }
  .sec3_headers h2 {
    font-size: 28px;
  }
  .sec3_headers p {
    font-size: 16px;
  }
  .sec3_headers_button button {
    padding: 14px 20px;
    font-size: 14px;
  }

  .faq-container {
    gap: 40px;
  }

  .faq-item {
    padding: 24px;
  }
  .faq-header {
    font-size: 20px;
  }
  .faq-header span {
    font-size: 16px;
    margin-right: 15px;
  }
  .faq-content {
    font-size: 16px;
  }
  /* სექცია 4 სტილები */
  .sec4 {
    min-height: 250px;
    margin-bottom: 110px;
  }
  .sec4_div {
    min-height: 250px;
    padding-inline: 60px;
  }
  .sec4_header h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .sec4_header p {
    font-size: 16px;
  }
  .sec4_headers_button button {
    padding: 14px 20px;
    font-size: 14px;
  }
  /* სექცია 5 footeer სტილები */

  footer {
    padding: 80px 0 40px;
    row-gap: 80px;
  }
  .footer_navs {
    gap: 20px;
  }
  .footer_div {
    max-width: 195px;
  }
  .footer_div h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer_nav_ul {
    row-gap: 10px;
  }
  .footer_nav_a {
    font-size: 16px;
  }
  .social_frame {
    width: 44px;
    height: 44px;
  }
  .policy_div {
    padding-top: 20px;
  }
  .policy_div h5 {
    font-size: 14px;
  }
  .footer-links {
    gap: 30px;
  }
  .footer-links a {
    font-size: 14px;
  }

  #cookie-popup {
    min-width: 340px;
    max-width: 400px;
    padding: 16px 22px;
  }

  .popup-text,
  .btn,
  .btn.decline {
    font-size: 16px;
  }

  #scrollToTopBtn {
    bottom: 24px;
    right: 24px;
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 10px;
  }

  /* Movies & Shows გვერდის უნიკალური სექციების სტილები ლეპტოპის რეზოლუციისთვის */

  /* მთავარი სლაიდერი */

  .slider {
    min-height: 709px;
    margin: 150px auto 100px;
  }
  .slide-content h2 {
    font-size: 30px;
  }
  .slide-content p {
    font-size: 16px;
  }
  .buttons {
    margin-top: 24px;
  }
  .play_media {
    gap: 8px;
    padding: 11px;
  }
  .play {
    font-size: 14px;
  }

  .arrow {
    width: 48px;
    height: 48px;
    padding: 12px;
  }
  /* სექცია 2 სტილები */
  .sec22 {
    padding: 40px;
    gap: 80px;
  }

  .section-label {
    font-size: 16px;
    padding: 8px 20px;
  }

  .genre-slider-section {
    gap: 40px;
  }
  .genre-slider-header h2 {
    font-size: 28px;
  }

  .genre-slider-nav-box {
    padding: 12px;
    gap: 12px;
  }
  .genre-slider-arrow-btn {
    padding: 10px;
  }
  .genre-slider-track {
    gap: 20px;
  }
  .genre-slider-card {
    width: 224px;
    height: 259px;
    padding: 24px;
  }
  .genre-slider-card img {
    height: 187px;
  }
  .genre-slider-title {
    font-size: 16px;
  }

  .genre-slider-dot {
    width: 10px;
    height: 4px;
  }
  .genre-slider-dot.active {
    width: 15px;
  }
  /* <!-- New_Releases სექცია სტილები--> */
  .new-release-card {
    padding: 16px;
    gap: 16px;
  }
  .new-release-card-header {
    font-size: 12px;
  }

  /* must watch სექციის სტილები  */
  .slider-card_must {
    width: 284px;
    height: 404px;
    padding: 16px;
    gap: 16px;
  }
.must_card_img {
  height: 324px;
}
.movie-length{
  font-size: 12px;
  gap: 2px;
}
.movie-length img {
  width: 20px;
  height: 20px;
}
.movie-rate{
  gap: 4px; 
   font-size: 12px;
}
}
