/* font import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");

/* font-family: "Manrope", sans-serif; */

/*-------------home page styles---------------*/
/* content styles */
.container {
  width: 100%;
  margin: auto;
}
body {
  background-color: #1e1e1e;
}

/* header styles */
header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 162px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: inherit;
  width: inherit;
}

.nav_div {
  background-color: #0f0f0f;
  border-radius: 12px;
  border: #1f1f1f 4px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 35px;
}

/* navigation styles */
.header_nav_ul {
  display: flex;
  column-gap: 30px;
}
.header_nav_a {
  color: var(--Grey-75, #bfbfbf);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header_nav_a.active {
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid var(--Black-10, #1a1a1a);
  background: var(--Black-10, #1a1a1a);
  color: #ffffff;
}

.zari_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.burger_button {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  border: #262626 3px solid;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: none;
}

/* 1 სექციის სტილები */
.main_sec {
  margin-top: -20px;
  height: 1092px;
  background-image: url("../images/sec1_cov.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  /* background-color: #1e1e1e; */
}

.main_sec_div1 {
  position: relative;
  z-index: 1;
  min-height: 581px;
  width: inherit;
  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
}

.main_sec_div2 {
  position: relative;
  z-index: 1;
  min-height: 581px;
  width: inherit;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 100%);
}

.main_sec img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}

.text_div {
  width: 100%;
  height: 296px;
  position: absolute;
  z-index: 5;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  justify-content: center;
  top: 99%;
}

.text_div_child {
  max-width: 1096px;
}
.text_div_child h1 {
  font-family: "Manrope", sans-serif;
  color: var(--Absolute-White, #fff);
  text-align: center;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 14px;
}
.text_div_child p {
  font-family: "Manrope", sans-serif;
  color: var(--Grey-60, #999);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text_div button {
  display: flex;
  padding: 18px 24px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--Red-45, #e50000);
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

/* 2 სექციის სტილები */
.sec2 {
  max-width: 1597px;
  min-height: 296px;
  margin: 432px auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: #e50000;
}

.sec2_headers_buttons {
  display: flex;
  column-gap: 200px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 80px;
}

.sec2_headers h2 {
  font-family: "Manrope", sans-serif;
  color: var(--Absolute-White, #fff);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 57px */
  margin-bottom: 14px;
}

.sec2_headers p {
  font-family: "Manrope", sans-serif;
  color: var(--Grey-60, #999);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.sec2_buttons {
  border-radius: 12px;
  border: 1px solid var(--Black-12, #1f1f1f);
  background: var(--Black-06, #0f0f0f);
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
}

/* ================= */

.carousel-wrapper {
  display: flex;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
  gap: 30px;
}

.category {
  height: auto;
  width: 295.4px;
  min-height: 342px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1a1a1a);
}

.category:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.2);
}

.category_img {
  max-width: 30px;
  height: 30px;
}


.category_headers {
  width: 235px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.category h4 {
  color: var(--Absolute-White, #fff);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}

.nav-buttons {
  position: absolute;
  top: -10px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-btn {
  background-color: #1A1A1A;
  border: none;
  color: white;
  font-size: 18px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.indicator-container {
  display: flex;
  gap: 6px;
  height: 6px;
}

.indicator-segment {
  width: 16px;
  height: 6px;
  border-radius: 10px;
  background-color: #333333;
}

.indicator-segment.active {
  background-color: red;
  width: 24px; /* <-- აქტიურის სიგრძე */
}
